.f-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--black);
  color: var(--lightBlue);
  padding: 2rem;
  margin: auto;
}
.f-container > p {
  text-align: center;
}
